# Wait for proper Minicom startup.

sleep 2

# Start Wi-Fi board and set SSID/Password.

gs2200m -a 1 spresensechristoph opensesame &

# Sleep until the end of the network settings.

sleep 8

# Display configuration.

ifconfig
sleep 1

# Start 'multiwebcam'.

multiwebcam &
